body{
    margin: 0;
    background-color: #f5f5f5;
    height: 94vh;
    color: rgb(37, 37, 37);
    font-family: 'REM', sans-serif;
}

header{
    background-color: #6096B4;
    color:  #e4e9ec;;
    width: 100%;
    display: inline-flex;
}

.menuLateral{
    background-color: #e4e9ec;
    display: block;
    padding: 0 3%;
    width: 10rem;
    text-align: center;
    border: 1px solid #6096B4;
    height: 100%;
}

ul{
    display: block;
    position: absolute;
    top: 34px;
    background-color:#6096B4;
    width: 145px;
    list-style-type: none;
    padding: 0;
    text-align: center;
}
a{
    text-decoration: none;
}

header a{
    color: #BDCDD6;
}

.title{
    font-size: 20px;
}
.corpo{
    margin-left: 1rem;
}

li{
height: 40px;
display: flex;
align-items: center;
justify-content: center;
gap: 5px;
}

li:hover{
    background-color: #598fac;
    align-items: center;
    justify-content: center;
}
.off{
    display: none;
}

.hd{
    gap: 0.1rem;
    padding: 0 5%;
}

.item{
    width: 150px;
    background-color: #6096B4;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 2%;
}

.itemlateral{
    height: 50px;
    width: 150px;
    display: flex;
    align-items: center;
    color: #383838;
    gap: 2%;
}

.item:hover{
    background-color: #598fac;
}

.main-logo{
    margin-right: auto;
}
.logo{
    height: 50px;
    width: 100px;
}

.conteudo
{
    height: 100%;
}